html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}
:root {
	--font: 16px;
	--white: #ffff;
	--fonth5: 22px;
	--dmSans:font-family: 'DM Sans', sans-serif;
}
.main-container {
	max-width: 1170px;
	min-width: 360px;
	font-family: var(--dmSans);
}
.box-one-pricing {
	display: flex;
	justify-items: center;
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 115px);
}
.price-display-common {
	text-align: center;
	font-family: DM Sans;
	border: 2px solid #ebeaed;
	width: 294px;
}

.price-display1 {
	max-height: 410px;
}
.price-display2 {
	max-height: 524px;
}
.price-display3 {
	max-height: 582px;
}
.price-display4 {
	max-height: 640px;
}
.li-price-display {
	border: 1px solid #ebeaed;
	list-style: none;
	height: 60px;
	color: #1e0e62;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	
}
button{
	background-color: var(--white);
	font-size: var(--font);
	padding: 12px 25px;
	border-radius: 100px;
	margin-bottom: 63px !important;
	cursor: pointer;
}
button:hover{
	color:#ffffff;
	background-color: #25DAC5;
}



h5 .card-title{
	margin-top: 49px;
	margin-bottom: 11px;
	font-weight: 500;
	font-size: var(--fonth5);
}
p.card-paragraph{
	margin-bottom: 24px;
	font-size: 16px;
	font-weight: 400;
	color: #15143966 ;

}
h2.card-number{
	margin-bottom: 44px;
	font-weight: 700;
    font-size: 58px;
}
 h2.card-number::before{
	 content: url(assets/$.png);
	 position:relative;
	 right:10px;
	 bottom: 25px;
	 
 }