html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}
:root {
	--font: 16px;
	--white: #ffff;
	--fonth5: 22px;
	--dmSans: 'DM Sans', sans-serif;
}
.main-container {
	max-width: 1170px;
	min-width: 360px;
	font-family: var(--dmSans);
	text-align: center;
	margin: auto;
}
h2.main-title {
	display: inline-block;
	font-weight: 700;
	font-size: 42px;
	margin-bottom: 0;
	color: #1e0e62;
}
p.main-paragraph {
	font-size: var(--fonth5);
	font-weight: 500;
	color: #15143966;
	margin-top: 20px;
	margin-bottom: 40px;
}
.box-one-pricing {
	display: flex;
	justify-items: center;
	margin-left: auto;
	margin-right: auto;
}
.price-display-common {
	text-align: center;
	font-family: DM Sans;
	width: 294px;
	border: 1px solid #ebeaed;
	border-bottom-left-radius: 10px;
}
.price-display1 {
	max-height: 436px;
}
.price-display2 {
	max-height: 555px;
}
.price-display3 {
	max-height: 615px;
}
.price-display4 {
	max-height: 676px;
}
ul {
	padding: 0;
}
.small-price-display li {
	list-style: none;
	height: 60px;
	color: #1e0e62;
	display: flex;
	align-items: center;
	justify-items: center;
	justify-content: center;
	text-decoration: none;
	border-top: 2px solid #ebeaed;
}
button {
	background-color: var(--white);
	font-size: var(--font);
	padding: 12px 25px;
	border-radius: 100px;
	border: 2px solid #ebeaed;
	margin-bottom: 43px !important;
	cursor: pointer;
}
button:hover {
	color: #ffffff;
	background-color: #25dac5;
}
h5.card-title {
	margin-top: 49px;
	margin-bottom: 11px;
	font-weight: 500;
	font-size: var(--fonth5);
	color: #1e0e62;
}
p.card-paragraph {
	margin-bottom: 24px;
	font-size: 16px;
	font-weight: 400;
	color: #15143966;
}
h2.card-number {
	margin-bottom: 44px;
	font-weight: 700;
	font-size: 58px;
	color: #1e0e62;
}
h2.card-number::before {
	content: ' \0024';
	font-size: 16px;
	color: #1e0e62;
	position: relative;
	right: 10px;
	bottom: 25px;
}
.border-left-none {
	border-left: none;
}
